@import "../../base/variables";
@import "../../base/mixins";

.member-section {
  height: 90vh;
  margin-top: 3rem;
  font-family: $vazir-regular;
  .card-holder {
    height: 50%;

    .card-header {
      border-top: 2px solid $color-primary;
      border-bottom: 3px solid $color-primary;

      height: 15%;
      padding-top: 1rem;
      font-size: 2rem;
      text-align: center;
    }
    .card {
      border-left: 2px solid $color-primary;
      border-right: 2px solid $color-primary;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 auto;

      width: 23rem;
      height: 85%;

      &__img {
        width: 21rem;
      }
      &__text-holder {
        padding-bottom: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        :last-child {
          padding-top: 1rem;
          color: #652a3c;
          font-weight: bold;
        }

        .text {
          font-size: 2rem;
          text-align: center;
        }
      }
    }
    .holder {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 85%;
      > .card {
        margin: 0;

        width: 23rem;
        height: 100%;
      }
    }
  }
}

@include respond(phone) {
  .member-section {
    .card-holder {
      .card {
      }
    }
  }
}

@include respond(tab-port) {
  body {
    display: flex;
    flex-direction: column-reverse;
  }
  .member-section {
    .card-holder {
      .card-header {
        padding-top: 2rem;
      }
    }
  }
}
