@import "../../base/variables";
@import "../../base/mixins";

.about-hamsaye {
  font-family: $vazir-regular;
  margin-top: 6rem;
  height: 80vh;
}

.text-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  padding: 2rem 5rem 0 5rem;

  &__head {
    font-size: 3.2rem;
    font-weight: bold;
  }

  &__head2 {
    font-size: 2.2rem;
    font-weight: bold;
  }
  &__text {
    text-align: justify;
    padding-top: 2rem;
    font-size: 1.8rem;
  }
}

@include respond(tab-port) {
  body {
    display: flex;
    flex-direction: column-reverse;
  }
  .about-hamsaye {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-body, 0.8),
        rgba($color-primary, 0.8)
      ),
      url("/assets/images/wallpaper/5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .text-box {
    &__text {
      font-size: 2.1rem;
    }
  }
}

@include respond(big-desktop) {
  .text-box {
    &__head {
      font-size: 2.7rem;
    }
    &__text {
      font-size: 2.3rem;
    }
  }
}
