@import "../../base/variables";
@import "../../base/mixins";

.about-hamsaye {
  font-family: $vazir-regular;
  margin-top: 6rem;
  height: 80vh;
}

.text-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  padding: 2rem 5rem 0 5rem;

  &__head {
    font-size: 3.2rem;
    font-weight: bold;
  }

  &__head2 {
    font-size: 2.2rem;
    font-weight: bold;
  }
  &__text {
    padding-top: 2rem;
    font-size: 1.8rem;
  }
}

@include respond(tab-port) {
  body {
    display: flex;
    flex-direction: column-reverse;
  }
  .text-box {
    &__text {
      font-size: 2.1rem;
    }
  }
}
