@import "../../base/variables";
@import "../../base/mixins";

body {
  overflow-y: auto;
}

.about-hamsaye {
  height: auto;
  padding: 5rem 3rem 1rem 3rem;
}

.subjects {
  margin-bottom: 3rem;
  display: flex;
  text-align: justify;
  flex-direction: column;
  justify-content: center;

  > h1 {
    font-size: 2.5rem;
    font-weight: bold;
  }

  > h2 {
    font-size: 2rem;
    font-weight: bold;
    &:first-child {
      padding-bottom: 1rem;
    }
  }
  ul > li {
    list-style: none;
    margin-bottom: 1rem;
    > h3 {
      font-size: 1.5rem;
      font-weight: bold;
      display: inline;
    }

    > p {
      display: inline;
      font-size: 1.4rem;
    }
  }

  > p {
    margin-top: 1rem;
    font-size: 1.6rem;
  }
}

@include respond(tab-port) {
  body {
    display: flex;
    flex-direction: column-reverse;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-body, 0.8),
        rgba($color-primary, 0.8)
      ),
      url("/assets/images/wallpaper/5.jpg");
    background-size: cover;
    background-position: center;
    height: auto;
    .about-hamsaye {
      padding-top: 2rem;
    }
  }

  .header {
    position: sticky;
    bottom: 0;
    left: 0;
  }
}

@include respond(phone) {
  .about-hamsaye > section > h1 {
    text-align: center;
  }
}
