// Import base variables and mixins
@import "../../base/variables";
@import "../../base/mixins";

// Main page layout
.member-section {
  height: 90vh;
  margin-top: 3rem;
  font-family: $vazir-regular;

  // Create two holders for cards
  .card-holder {
    height: 50%;

    // Title of the card
    .card-header {
      height: 15%;
      font-size: 2rem;
      padding-top: 1rem;
      text-align: center;
      border-top: 2px solid $color-primary;
      border-bottom: 3px solid $color-primary;
    }

    // Styling for the card
    .card {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      height: 85%;
      width: 23rem;
      margin: 0 auto;
      border-left: 2px solid $color-primary;
      border-right: 2px solid $color-primary;

      // Developer picture
      &__img {
        width: 21rem;
      }

      // Text holder for employee name and position
      &__text-holder {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 5rem;

        // Styling for employee position
        :last-child {
          padding-top: 1rem;
          color: #652a3c;
          font-weight: bold;
        }

        .text {
          font-size: 2rem;
          text-align: center;
        }
      }
    }

    // Holder for two floors of cards
    .holder {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 85%;

      > .card {
        margin: 0;
        width: 23rem;
        height: 100%;
      }
    }
  }
}
// Apply responsive styling for tablet and mobile devices
@include respond(tab-port) {
  body {
    // Bring the header to the footer for tablet and mobile devices
    display: flex;
    flex-direction: column-reverse;
  }

  .member-section {
    // Apply a cool background for mobile and tablet devices
    background-image: linear-gradient(
        to right bottom,
        rgba($color-body, 0.8),
        rgba($color-primary, 0.8)
      ),
      url("/assets/images/wallpaper/5.jpg"); // Add your image URL here
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .card-holder {
      .card-header {
        padding-top: 2.3rem;
        border-top: 2px solid $color-text-gold;
        border-bottom: 3px solid $color-text-gold;
      }

      .card {
        border-left: 2px solid $color-text-gold;
        border-right: 2px solid $color-text-gold;
      }
    }
  }
}

@include respond(phone) {
  .member-section {
    .card-holder {
      .holder {
        > .card {
          margin: 0;
          width: 17.9rem;
        }
      }
    }
  }
}
