@import "../../base/variables";
@import "../../base/mixins";
@import "../../base/animation";

.about-page {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  height: 87vh;
}

// box of the card
.card-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 2rem 0;

  // card
  &__card {
    position: relative;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    width: 30rem;
    height: 40rem;
    border: 1.4px solid $color-gold-2;
    background-color: $color-white;
    transition: all 0.5s;
    animation: parallax 2s;

    //hover effect
    &:hover {
      transform: scale(1.01);
      box-shadow: 0 1.5rem 2rem $color-gold-2;
    }

    //space between two card
    &:first-child {
      margin-left: 4.4rem;
    }
    &__img {
      display: none;
    }
    //box of the img
    &__spawn {
      position: absolute;
      top: 50%;
      left: 50%;
      overflow: hidden;
      width: 20rem;
      height: 28rem;
      border-radius: 10px;
      border: $color-primary;
      background-color: $color-primary;
      &-1 {
        transform: translate(-45%, -57%) rotate(10deg);
        &__img {
          transform: rotate(-10deg);
        }
      }
      &-2 {
        transform: translate(-55%, -57%) rotate(-10deg);
        &__img {
          transform: rotate(10deg);
        }
      }

      //styling img in side of the box
      &__img {
        z-index: 2;
        width: 20.2rem;
        height: 29.3rem;
      }
    }

    // Styles for the .card-box__card__text section
    &__text {
      padding-bottom: 3.5rem;
      font-weight: bold;
      font-size: 2.2rem;
      font-family: $vazir-regular;
    }

    //putting a and cover the hole card
    > a {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      z-index: 10;
    }
  }
}

// Responsive styles for smaller screens (tablet portrait)
@include respond(tab-port) {
  body {
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column-reverse;
  }

  .card-box {
    width: 65%;

    &__card {
      &:hover {
        box-shadow: none;
        transform: none;
      }
    }
  }
}

// Responsive styles for phone screens
@include respond(phone) {
  body {
    display: flex;
    flex-direction: column-reverse;
  }

  .about-page {
    background-image: linear-gradient(
      to right bottom,
      rgba($color-body, 0.8),
      rgba($color-primary, 0.8)
    );
  }
}

//Responsive styles for big desktop
@include respond(big-desktop) {
}
// Responsive styles for tablet portrait screens
@include respond(tab-port) {
  body {
    display: flex;
    flex-direction: column-reverse;
  }

  .card-box {
    width: 65%;

    &__card {
      &__img {
        display: none;
        z-index: 2;
        width: 20.2rem;
        height: 29.3rem;
      }
      &:hover {
        box-shadow: none;
        transform: none;
      }
    }
  }
}

// Responsive styles for phone screens
@include respond(phone) {
  body {
    display: flex;
    flex-direction: column-reverse;
  }

  .about-page {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-body, 0.8),
        rgba($color-primary, 0.8)
      ),
      url("/assets/images/wallpaper/5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .card-box {
    height: 80%;
    width: 65%;
    // background-color: black;
    flex-direction: column;

    &__card {
      margin: 2.5rem 0 2.5rem 0;
      width: 100%;

      &__spawn {
        display: none;
      }
      &__img {
        display: block;
        width: 16rem;
        height: 20rem;
      }

      &:first-child {
        margin: 2.5rem 0 0 0;
      }

      &__text {
        padding: 2rem;
      }
    }
  }
}
