@import "../base/variables";
@import "../base/mixins";

.contact-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-image: url("/assets/images/circles.png");
  background-repeat: no-repeat;
  background-size: cover;

  .mail-box {
    width: 100%;
    height: 10rem;
    padding-left: 60rem;
    // background-color: #fff;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    &__img {
      width: 10rem;
    }

    &__text-box {
      display: flex;
      flex-direction: column;
      width: 40rem;
      text-align: center;
      font-weight: bold;
      font-family: $vazir-regular;

      &__head {
        font-size: 4rem;
        transition: all 0.5s;
        &:hover {
          color: $color-text-gold;
        }
      }

      &__link {
        font-size: 1.6rem;
        color: $color-text-gold;
        opacity: 1;
      }
    }
  }

  .mail-box-2 {
    margin-top: 10rem;
    &__img {
      width: 10rem;
    }
  }
}
@include respond(phone) {
  .mail-box {
    padding-right: 45%;
  }
}
@include respond(tab-port) {
  body {
    display: flex;
    flex-direction: column-reverse;
  }

  .contact-us {
    .mail-box {
      padding: 0;
      flex-direction: column;

      &__text-box {
        &__head {
          font-size: 3rem;
        }
      }
      &__img {
        width: 6rem;
      }
    }
    .mail-box-2 {
      &__img {
        width: 6rem;
      }
    }
  }
}
