@import "../base/variables";
@import "../base/mixins";
@import "../base/animation";

.contact-us {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: url("/assets/images/circles.png") no-repeat bottom left/cover;

  > section {
    width: 100%;
    height: 10rem;
    padding-left: 60rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    &:last-child {
      margin-top: 7rem;
    }

    > img {
      width: 10rem;
      @include respond(desktop) {
        animation: moveInRight 1.4s ease-out;
      }
    }

    > h2 {
      display: flex;
      flex-direction: column;
      width: 40rem;
      text-align: center;
      font-weight: bold;
      font-family: $vazir-regular;

      > a {
        transition: all 0.5s;

        &:first-child {
          font-size: 4rem;
          @include respond(desktop) {
            &:hover {
              transform: translateY(-3px);
            }
          }
        }

        &:last-child {
          font-size: 1.6rem;
          color: $color-text-gold;
          opacity: 1;
          @include respond(desktop) {
            animation: InvisibleMagic 4s;
          }
        }
      }
    }
  }
}

@include respond(phone) {
  .contact-us > section {
    padding-right: 45%;
  }
}

@include respond(tab-port) {
  body {
    display: flex;
    flex-direction: column-reverse;
  }

  .contact-us {
    > section {
      padding: 0;
      flex-direction: column;

      > h2 {
        > a:first-child {
          font-size: 3rem;
        }
      }

      > img {
        width: 6rem;
      }
    }

    section:last-child > img {
      width: 6rem;
    }
  }
}
