@import "../base/variables";
@import "../base/mixins";
@import "../base/animation";

// Styles for the .contact-us section
.contact-us {
  display: flex;
  height: 87vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: url("/assets/images/circles.png");
  background-size: cover;

  // Styles for the .mail-box section
  > section {
    width: 100%;
    height: 10rem;
    padding-left: 60rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    // Styles for the .mail-box__img section
    > img {
      animation: moveInRight 1.4s ease-out;
      width: 10rem;
    }

    // Styles for the .mail-box__text-box section
    > h2 {
      display: flex;
      flex-direction: column;
      width: 40rem;
      text-align: center;
      font-weight: bold;
      font-family: $vazir-regular;
      animation: InvisibleMagic 4s;

      // Styles for the .mail-box__text-box__head section
      > a:first-child {
        font-size: 4rem;
        transition: all 0.5s;
        &:hover {
          color: $color-text-gold;
        }
      }

      // Styles for the .mail-box__text-box__link section
      > a:last-child {
        font-size: 1.6rem;
        color: $color-text-gold;
        opacity: 1;
      }
    }
  }

  section:last-child {
    margin-top: 10rem;

    > img {
      animation: moveInRight 1.4s ease-out;
      width: 10rem;
    }
  }
}

// Responsive styles for phone screens
@include respond(phone) {
  .contact-us > section {
    padding-right: 45%;
  }
}

// Responsive styles for tablet portrait screens
@include respond(tab-port) {
  body {
    display: flex;
    flex-direction: column-reverse;
  }

  .contact-us {
    > section {
      padding: 0;
      flex-direction: column;

      > h2 {
        > a:first-child {
          font-size: 3rem;
        }
      }

      > img {
        width: 6rem;
      }
    }

    > section:last-child {
      > img {
        width: 6rem;
      }
    }
  }
}
