@import "../base/variables";
@import "../base/mixins";
@import "../base/animation";

// Styles for the .home section
.home {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  // Text in home
  &-title {
    text-align: right;
    > span {
      &:first-child {
        font: {
          size: 12rem;
          weight: bold;
        }
      }
      &:last-child {
        font-size: 3.2rem;
      }
    }
  }

  // Home square behind the picture
  > .home-banner {
    position: relative;

    // Styles for the .banner-square section
    .banner-square {
      background-color: $color-primary;
      width: 32rem;
      height: 45rem;
      transform: rotate(15deg) translate(-50%, -50%);
      position: absolute;
      left: 35%;
      top: 58%;
      z-index: -1;
    }

    // Home banner
    > .banner {
      display: flex;
      width: 35rem;
      height: 45rem;
      border-radius: 10px;
      background-size: 100% 100%;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
      background: url("/assets/images/home-banner.png");

      // Three boxes of home banner
      > div {
        height: 100%;
        width: calc(100% / 3);
        overflow: hidden;
        border: 1rem solid rgba(224, 213, 204, 0.95);

        &:first-child {
          border-radius: 0 1rem 1rem 0;
          -webkit-border-radius: 0 1rem 1rem 0;
          -moz-border-radius: 0 1rem 1rem 0;
          -ms-border-radius: 0 1rem 1rem 0;
          -o-border-radius: 0 1rem 1rem 0;
        }
        &:last-child {
          border-radius: 1rem 0 0 1rem;
          -webkit-border-radius: 1rem 0 0 1rem;
          -moz-border-radius: 1rem 0 0 1rem;
          -ms-border-radius: 1rem 0 0 1rem;
          -o-border-radius: 1rem 0 0 1rem;
        }
      }
    }
  }
}
@include setAnimation(phone) {
  .home {
    &-title {
      animation: moveInRight 2.5s;
    }
    > .home-banner {
      .banner-square {
        animation: rotation 2.5s;
      }
    }
  }
}
// Responsive styles for tablet portrait screens
@include respond(tab-port) {
  body {
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column-reverse;
  }

  .home-banner {
    display: none;
  }

  .home {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-body, 0.8),
        rgba($color-primary, 0.8)
      ),
      url("/assets/images/home-banner.png");
    background-size: cover;

    &-title {
      text-align: center;
    }
  }
}
