/*animation*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-5rem);
  }
  80% {
    transform: translateX(3rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(+5rem);
  }
  80% {
    transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes rotation {
  0% {
    opacity: 0.5;
    transform: rotate(0deg) translate(-50%, -50%);
  }
  100% {
    opacity: 1;
    transform: rotate(15deg) translate(-50%, -50%);
  }
}

@keyframes InvisibleMagic {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes parallax {
  0% {
    box-shadow: 0 20px 40px $color-gold-2;
  }
  100% {
    box-shadow: 0 0 0px $color-gold-2;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 10px $color-gold-2;
  }
  100% {
    box-shadow: 0 0 20px $color-gold-2;
  }
}
@keyframes text-shadow-slide {
  0% {
    text-shadow: 4px 4px 8px $color-gold-2;
  }
  100% {
    text-shadow: 1px 1px 2px $color-gold-2;
  }
}
