// Vazir Bold
@font-face {
  font-family: "Vazir Bold";
  src: url("/assets/fonts/vazir/Vazir-Bold.woff") format("woff");
  src: url("/assets/fonts/vazir/Vazir-Bold.woff2") format("woff2");
  src: url("/assets/fonts/vazir/Vazir-Bold.ttf") format("ttf");
  src: url("/assets/fonts/vazir/Vazir-Bold.eot") format("eot");
}

// Vazir Medium
@font-face {
  font-family: "Vazir Medium";
  src: url("/assets/fonts/vazir/Vazir-Medium.woff") format("woff");
  src: url("/assets/fonts/vazir/Vazir-Medium.woff2") format("woff2");
  src: url("/assets/fonts/vazir/Vazir-Medium.ttf") format("ttf");
  src: url("/assets/fonts/vazir/Vazir-Medium.eot") format("eot");
}

// Vazir Regular
@font-face {
  font-family: "Vazir";
  src: url("/assets/fonts/vazir/Vazir.woff") format("woff");
  src: url("/assets/fonts/vazir/Vazir.woff2") format("woff2");
  src: url("/assets/fonts/vazir/Vazir.ttf") format("ttf");
  src: url("/assets/fonts/vazir/Vazir.eot") format("eot");
}

// Vazir Light
@font-face {
  font-family: "Vazir Light";
  src: url("/assets/fonts/vazir/Vazir-Light.woff") format("woff");
  src: url("/assets/fonts/vazir/Vazir-Light.woff2") format("woff2");
  src: url("/assets/fonts/vazir/Vazir-Light.ttf") format("ttf");
  src: url("/assets/fonts/vazir/Vazir-Light.eot") format("eot");
}

// Vazir Thin
@font-face {
  font-family: "Vazir Thin";
  src: url("/assets/fonts/vazir/Vazir-Thin.woff") format("woff");
  src: url("/assets/fonts/vazir/Vazir-Thin.woff2") format("woff2");
  src: url("/assets/fonts/vazir/Vazir-Thin.ttf") format("ttf");
  src: url("/assets/fonts/vazir/Vazir-Thin.eot") format("eot");
}
