//fonts
$vazir-regular: "Vazir", sans-serif;
$vazir-bold: "Vazir Bold", sans-serif;
$vazir-thin: "Vazir Thin", sans-serif;
$vazir-light: "Vazir Light", sans-serif;
$vazir-medium: "Vazir Medium", sans-serif;

//colors
$color-primary: #e0d5cc;
$color-gold: #a28167;
$color-gold-2: #b9a08d;
$color-white: #ffffff;
$color-text-gold: #98765d;
$color-body: #f7f4f2;
