main {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly; }
  main .home-title {
    text-align: right; }
    main .home-title > span:first-child {
      font-size: 128px;
      font-weight: bold; }
    main .home-title > span:last-child {
      font-size: 32px; }
  main .home-banner {
    display: flex;
    width: 364.89px;
    height: 476.34px;
    border-radius: 10px;
    background-size: 100% 100%;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
    background: url("../assets/images/Frame 43.png"); }
    main .home-banner > div {
      height: 100%;
      width: calc(100% / 3);
      border: 10px solid rgba(224, 213, 204, 0.85); }
      main .home-banner > div:first-child {
        border-radius: 0 10px 10px 0; }
      main .home-banner > div:last-child {
        border-radius: 10px 0 0 10px; }

.about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative; }

.contact-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative; }
  .contact-us section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #191410;
  font-family: vazir; }
  .navigation__link {
    transition: all 0.2s; }
    .navigation__link:hover {
      color: #a28167;
      border-bottom: 1.4px solid #a28167; }
  .navigation__logo {
    width: 64px;
    margin: 0 45px; }

.header {
  font-size: 20px;
  font-weight: bold;
  padding: 20px 0;
  width: 100%;
  font-family: Vasir;
  height: 10vh; }

.link {
  text-decoration: none;
  text-align: center;
  position: absolute;
  top: 0px;
  left: 120px;
  transition: all 0.2s;
  font-size: 20px;
  font-weight: bold;
  color: #33271f;
  font-family: Vasir; }
  .link:hover {
    border-bottom: 2px solid #a28167;
    transform: scale(1.1); }

.card-box {
  margin: 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .card-box__card {
    transition: all 0.5s;
    border: 1.4px solid #b9a08d;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    position: relative;
    width: 326px;
    height: 471px;
    cursor: pointer; }
    .card-box__card:hover {
      transform: scale(1.01);
      box-shadow: 0 15px 20px #b9a08d; }
    .card-box__card:last-child {
      margin-left: 44px; }
    .card-box__card__img {
      z-index: 4;
      width: 202px;
      height: 293px; }
    .card-box__card__spawn {
      position: absolute;
      top: 10xp;
      right: 50px;
      width: 192px;
      height: 313px;
      border-radius: 10px;
      border: #e0d5cc;
      background-color: #e0d5cc; }
      .card-box__card__spawn-1 {
        transform: rotate(10deg); }
      .card-box__card__spawn-2 {
        transform: rotate(-10deg); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  direction: rtl;
  font-size: 10px; }

body {
  height: 100vh;
  font-family: "Vazir";
  background-color: #f7f4f2; }

a {
  color: inherit;
  text-decoration: none; }

@font-face {
  font-family: "Vazir";
  src: url(../assets/Font/Vazirmatn-Regular.ttf); }
