*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  direction: rtl;
  font-size: 62.5%; }

body {
  height: 100vh;
  font-family: "Vazir";
  background-color: #f7f4f2; }

header {
  height: 10vh; }

main {
  height: 90vh; }

a {
  color: inherit;
  text-decoration: none; }

@font-face {
  font-family: "Vazir";
  src: url(../assets/Font/Vazirmatn-Regular.ttf); }

.home {
  display: flex;
  align-items: center;
  justify-content: space-evenly; }
  .home-title {
    text-align: right; }
    .home-title > span:first-child {
      font-size: 128px;
      font-weight: bold; }
    .home-title > span:last-child {
      font-size: 32px; }
  .home__square {
    background-color: #e0d5cc;
    width: 34rem;
    height: 47rem;
    transform: rotate(15deg);
    position: absolute;
    left: 27rem;
    z-index: -1; }
  .home-banner {
    display: flex;
    width: 364.89px;
    height: 476.34px;
    border-radius: 10px;
    background-size: 100% 100%;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
    background: url("../assets/images/Frame 43.png"); }
    .home-banner > div {
      height: 100%;
      width: calc(100% / 3);
      border: 10px solid rgba(224, 213, 204, 0.85); }
      .home-banner > div:first-child {
        border-radius: 0 10px 10px 0; }
      .home-banner > div:last-child {
        border-radius: 10px 0 0 10px; }

.about-page {
  display: flex;
  align-items: center;
  justify-content: space-evenly; }

.contact-us {
  background-image: url("/assets/images/circles.png");
  background-repeat: no-repeat;
  background-size: cover; }
  .contact-us .mail-box {
    width: 50rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 10rem; }
    .contact-us .mail-box__img {
      width: 10rem; }
    .contact-us .mail-box__text-box {
      width: 40rem;
      text-align: center;
      font-weight: bold;
      font-family: "Vazir"; }
      .contact-us .mail-box__text-box__head {
        font-size: 4rem;
        transition: all 0.5s; }
        .contact-us .mail-box__text-box__head:hover {
          color: #98765d; }
      .contact-us .mail-box__text-box__link {
        font-size: 1.6rem;
        color: #98765d;
        opacity: 1; }
  .contact-us .mail-box-1 {
    position: absolute;
    top: 25rem;
    right: 5rem; }
  .contact-us .mail-box-2 {
    position: absolute;
    top: 45rem;
    right: 5rem; }
    .contact-us .mail-box-2__img {
      width: 10rem; }

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #191410;
  font-family: "Vazir"; }
  .navigation__link {
    transition: all 0.3s ease-out; }
    .navigation__link:hover {
      text-shadow: 1.5px 1.5px #a28167;
      border-bottom: 2px solid #a28167; }
  .navigation__logo {
    width: 6.4rem;
    margin: 0 4.5rem; }

.header {
  font-size: 20px;
  font-weight: bold;
  padding: 20px 0;
  width: 100%;
  font-family: "Vazir"; }

.card-box {
  margin: 2rem 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  .card-box__card {
    transition: all 0.5s;
    position: relative;
    border: 1.4px solid #b9a08d;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    position: relative;
    width: 32.6rem;
    height: 47.1rem;
    cursor: pointer; }
    .card-box__card:hover {
      transform: scale(1.01);
      box-shadow: 0 1.5rem 2rem #b9a08d; }
    .card-box__card:first-child {
      margin-left: 4.4rem; }
    .card-box__card__img {
      z-index: 4;
      width: 20.2rem;
      height: 29.3rem; }
    .card-box__card__spawn {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 195px;
      height: 313px;
      border-radius: 10px;
      border: #e0d5cc;
      background-color: #e0d5cc; }
      .card-box__card__spawn-1 {
        transform: translate(-45%, -57%) rotate(10deg); }
      .card-box__card__spawn-2 {
        transform: translate(-55%, -57%) rotate(-10deg); }

.card-box__card__text {
  position: absolute;
  bottom: 8%;
  font-weight: bold;
  font-size: 2.2rem;
  font-family: "Vazir"; }
