.contact-us {
  background-image: url("/assets/images/circles.png");
  background-repeat: no-repeat;
  background-size: cover;

  .mail-box {
    width: 50rem;
    height: 10rem;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    margin-right: 10rem;
    &__img {
      width: 10rem;
    }

    &__text-box {
      width: 40rem;
      text-align: center;
      font-weight: bold;
      font-family: $font-family;

      &__head {
        font-size: 4rem;
        transition: all 0.5s;
        &:hover {
          color: $color-text-gold;
        }
      }

      &__link {
        font-size: 1.6rem;
        color: $color-text-gold;
        opacity: 1;
      }
    }
  }
  .mail-box-1 {
    position: absolute;
    top: 25rem;
    right: 5rem;
  }
  .mail-box-2 {
    position: absolute;
    top: 45rem;
    right: 5rem;
    &__img {
      width: 10rem;
    }
  }
}
