.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #191410;
  font-family: vazir;

  &__link {
    transition: all 0.2s;
    &:hover {
      color: #a28167;
      border-bottom: 1.4px solid #a28167;
    }
  }

  &__logo {
    width: 64px;
    margin: 0 45px;
  }
}
