.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #191410;
  font-family: $font-family;

  &__link {
    transition: all 0.3s ease-out;
    &:hover {
      text-shadow: 1.5px 1.5px $color-gold;
      border-bottom: 2px solid $color-gold;
    }
  }

  &__logo {
    width: 6.4rem;
    margin: 0 4.5rem;
  }
}
